#inner-box{
    height: 250px;
    width: 250px;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(10, 46, 161);
    background-color: cadetblue;
}
#outer-box{
    background-color: blueviolet;
    padding: 50px;
    height: 300px;
    width: 300;

}
.bg-img{
    width: 50%;
    border-radius: 20%;
    border: 2px solid rgb(0, 0, 0);
}