
    *{
        margin: 0;
        border: 0;
        padding: 0;  
    }
    /* body{
        color: aqua;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
        
    }
    h1{
        font-size: 30px;
        text-shadow: 5px 5px 5px #359;
    }
    p{
        width: 300px;
        word-wrap: break-word;
    }
    div{
        /* border: 2px solid; */
        /* border-radius: 25px; */
        /* background-color: rgb(255, 217, 0);
        box-shadow: 10px 10px 10px#359;
    } */ 
    /* #demo01{
        border: 5px solid black;
        padding: 30px;
        /* background-color: brown; */
        /* background-image:url('https://upload.wikimedia.org/wikipedia/commons/b/bc/Biogradska_suma.jpg');
        background-repeat: no-repeat;
        background-origin: content-box;
    } */ 
    .box1{
        width: 350px;
        height: 50px;
        border: 10px solid rgba(5, 45, 119, 0.479);
        padding: 80px;
        margin: 10px;
        /* padding-top: 80px;
        padding-left: 200px;
        padding-bottom: 80px;
        padding-right: 80px; */
        box-sizing: content-box;
    }
    .box2{
        width: 350px;
        height: 50px;
        margin: 10px;
        border: 10px solid rgb(8, 253, 29);
        padding: 80px;
        box-sizing: content-box;
    }
   



